@media screen and (max-width: 480px) {
    body {
        padding: 32px 0;
    }

    section div h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 8px;
    }

    section div:nth-child(1) h2,
    section div:nth-child(4) h2 {
        width: 343px;
    }

    section div:nth-child(2) h2 {
        width: 280px;
    }

    section div:nth-child(3) h2 {
        width: 240px;
    }

    section div p {
        font-size: 16px;
        width: 343px;
    }

    section {
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }
}