@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*NAV*/
nav {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ol {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

nav ol li {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #1D1D1F;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.12px;
}

/*HEADER*/
header {
    background-color: #F5F5F799;
    height: 108px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    animation: left 0.5s ease-in-out 1;
}

header > div > a {
    text-decoration: none;
    color: #1D1D1F;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: -0.12px;
}

/*MAIN*/
main {
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > img {
    margin: 78px 0 68px 0;
    animation: big 1.7s linear 1;
}

main > h2 {
    color: #1D1D1F;
    text-align: center;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px; /* 100% */
    letter-spacing: -1.44px;
    animation: down 1.7s linear 1;
}

main > p {
    color: #86868B;
    text-align: center;
    font-size: 21.563px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 129.855% */
    letter-spacing: 0.216px;
    width: 975.81px;
    margin: 52px 0 64px 0;
    animation: down 1.7s linear 1;
}

@keyframes left {
    from {
        transform: translate(300px);
    }
    to {
        transform: translate(0);
    }
}

@keyframes big {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    60% {
        opacity: 1;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    70% {
        opacity: 1;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}