@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 64px 0;
    display: flex;
    justify-content: center;
}

section div h3 {
    color: #000;
    /* Text/1 strong */
    font-size: 20px;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin: 20px 0 15px 0;
}

section div span {
    color: #3C3C43;
    /* Capital/1 strong */
    font-size: 13px;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div:nth-child(1),
section div:nth-child(2),
section div:nth-child(3) {
    margin-bottom: 32px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 1400px;
}