@media screen and (max-width: 480px) {
    div.grid {
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'header'
        'main'
        'aside';
    }
}