@media screen and (max-width: 480px) {
    body {
        padding: 32px 16px;
    }

    section {
        flex-direction: column;
        gap: 32px;
    }

    section div h3 {
        margin: 16px 0 8px 0;
    }

    section div p {
        width: 330px;
    }

    section div img {
        width: 128px;
        height: 128px;
    }

}