@media screen and (max-width: 480px) {
    body {
        padding-top: 52px;
    }

    section h1 {
        font-size: 28px;
    }

    section p {
        width: 343px;
        margin: 18px 0 32px 0;
    }

    section div button:first-of-type {
        padding: 0 30px;
    }

    section div {
        flex-direction: column;
        gap: 20px;
    }
}

