@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("https://s3-alpha-sig.figma.com/img/bf6f/31fa/eb742d588636fc4b57d11e746d86bf37?Expires=1722816000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PaIgBxciKc2hm~gzNU5Zg5ci4l33fDr7kuuTSCBDQPr~PfF0O4qrMGNbr67n0iBT52Y-GsxZeFR-GotobE0Jme3P8g5WgFxDUl~rCD9WYX47aCPxZ8bolpsXn-UOKTqWSLvAVagvEDYwGJPvHZOtGUNIbwR6t8iCdSChu~dSxn1ttYfoJG1mnfuocrEKWgnzt4UA9436d04TTFxEk1yHeOzoT8u9r~3vVZF1ImgdT8y0Y2IgeuL0-ySekazxk41nYPAqAs3rAWVYR0EUmI3Gkhnth~21ssNTIP9CIfaBtv0e5VSG8cI~8-f0ePDXUfMaFczMLijM9D9DD-r6a3bmfw__");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 144px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    color: #FFF;
    text-align: center;
    /* Large title/2 strong */
    font-size: 64px;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
}

section p {
    color: #FFF;
    text-align: center;
    /* Text/1 regular */;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    width: 960px;
    margin: 40px 0 64px 0;
}

section div button:first-of-type {
    height: 64px;
    padding: 0 60px;
    border: none;
    border-radius: 32px;
    background: #FFF;
    color: #000;
    /* Text/3 strong */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

section div button:last-of-type {
    border: none;
    height: 64px;
    background: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #FFF;
    /* Text/3 strong */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

section div {
    display: flex;
    gap: 56px;
    align-items: center;
}
