@media screen and (max-width: 480px) {
    div.grid {
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        'header header header'
        'main main main'
        'section1 section2 section3'
        'aside aside aside';
    }
}