@media screen and (max-width: 480px) {
    div.grid {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'header header'
        'section2 section1'
        'section3 section4'
        'section5 section5'
        'footer footer';
    }
}